<div id="<%= dom_id merchandise %>">
  <p>
    <strong>Link:</strong>
    <%= merchandise.link %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= merchandise.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= merchandise.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= merchandise.image %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= merchandise.stock %>
  </p>

</div>
