<div id="<%= dom_id merchandise %>">
  

  <h1 class="item-title">
    <%= merchandise.title %>
  </h1>
  
  <p>
     <%= image_tag(merchandise.image) if merchandise.link.present? &&  merchandise.image.present? %>
  </p>

  <strong class="item-description">
    <%= merchandise.description %>
  </strong>
  
  <p>
    <%= link_to 'Purchase', merchandise.link, target: '_blank', role: 'button' if merchandise.link.present? %>
  </p>


</div>
