<%= form_with(model: annoucement) do |form| %>
  <% if annoucement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(annoucement.errors.count, "error") %> prohibited this annoucement from being saved:</h2>

      <ul>
        <% annoucement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
