<div id="<%= dom_id idea %>">
  <p>
    <strong>Title:</strong>
    <%= idea.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= idea.created_by %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= idea.created_at %>
  </p>

</div>
