<div id="<%= dom_id idea %>">
  <p class="item-title">
    <%= idea.title %>
  </p>

  <p class="idea-desc">
    <%= idea.description %>
  </p>

  <div class="idea-footer">
  <p>
    <strong>Created by:</strong>
    <%= idea.created_by %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= idea.created_at %>
  </p>
  </div>

</div>
