<div id="<%= dom_id idea %>" class="idea-wrapper">
  <textarea class="item-title"><%=h(idea.title)%></textarea>

  <textarea class="idea-desc"><%= h(idea.description.squish) %></textarea>

  <div class="idea-footer">
  <p>
    <strong class="idea-user">&mdash;</strong>
    <%= idea.user ? idea.user&.full_name : "Unknown" %>
  </p>

  <p>
    <span class="utc-time" data-utc-time="<%= idea.created_at.iso8601 %>">
      <%= idea.created_at.strftime('%m/%d/%Y') %>
    </span>
  </p>

  </div>

</div>

