<div id="<%= dom_id merch %>">
  <p>
    <strong>Link:</strong>
    <%= merch.link %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= merch.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= merch.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= merch.image %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= merch.stock %>
  </p>

</div>
