<p style="color: green"><%= notice %></p>

<%= render @merch %>

<div>
  <%= link_to "Edit this merch", edit_merch_path(@merch) %> |
  <%= link_to "Back to merches", merches_path %>

  <%= button_to "Destroy this merch", @merch, method: :delete %>
</div>
