<%= simple_form_for user, html: { class: "user form" } do |form| %>
  <% if user.errors.any? %>
    <%= form.error_notification %>
  <% end %>

  <div class="user__info">
    <%= image_tag user.avatar_url, alt: "User Avatar", class: "user__avatar" %>

    <div class="user__stack">
      <div class="user__item">
        <%= form.label :full_name %>
        <%= form.input :full_name %>
      </div>
      <div class="user__item">
        <%= form.label :role %>
        <%= form.select :role, User::ROLES, {} %>
      </div>
      <div class="user__item">
        <%= form.label :committee %>
        <%= form.input :committee %>
      </div>
    </div>

    <div class="user__stack">
      <div class="user__item">
        <%= form.label :dues %>
        <%= form.input :dues %>
      </div>
      <div class="user__item">
        <%= form.label :points %>
        <%= form.input :points %>
      </div>
    </div>
  </div>

  <div class="user__actions">
    <%= form.submit class: 'btn btn--tertiary' %>
  </div>
<% end %>
