<%= simple_form_for user, html: { class: "user form" } do |f| %>
  <% if user.errors.any? %>
    <div class="error-message">
      <%= user.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :full_name, input_html: { autofocus: true } %>
  
  <%= f.input :role,
    collection: [['Admin', 'admin'], ['Member', 'member'],  ['Officer', 'officer'], ['User', 'user']],
              include_blank: false %>

  <%= f.input :committee %>
  
  <%= f.input :points %>
  
  <%= f.input :dues %>

  <%= f.submit class: "btn btn--secondary" %>
<% end %>
