<div id="<%= dom_id user %>">
  <p>
    <strong>Full Name:</strong>
    <%= user.full_name %>
  </p>

  <p>
    <strong>Avatar URL:</strong>
    <%= user.avatar_url %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Committee:</strong>
    <%= user.committee %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= user.points %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= user.uid %>
  </p>

  <p>
    <strong>Dues:</strong>
    <%= user.dues %>
  </p>

</div>
