<div id="<%= dom_id user %>">
    <p>
        <strong>Avatar:</strong>
        <%= user.avatar_url %>
    </p>

    <p>
        <strong>Full Name:</strong>
        <%= user.full_name %>
    </p>

    <p>
        <strong>Role:</strong>
        <%= user.role %>
    </p>

    <p>
        <strong>Committee:</strong>
        <%= user.committee %>
    </p>

    <p>
        <strong>Points:</strong>
        <%= user.points %>
    </p>

    <p>
        <strong>Dues:</strong>
        <%= user.dues %>
    </p>
    
</div>