<footer class='footer'>
  <!-- Render Non-Instagram Links -->
  <div class="footer__logo-container">
    <%= link_to root_path do %>
      <%= image_tag 'green-logo.jpg', alt: 'heat logo', class: 'footer__logo' %>
    <% end %>
  </div>
  
  <!-- GitHub Link Section -->
  <div class='footer__info-container'>
    <div class="footer__links-container">
      <% @links.each do |link| %>
        <%= link_to sanitize(link[:title]), link[:link], class: 'footer__link' %>
      <% end %>
    </div>
    <div class="footer__git">
      <p class='footer__text'>Open Source on: </p>
      <%= link_to sanitize("GitHub"), "https://github.com/caden-miller/cold501", class: 'footer__link' %>
    </div>
    
    <!-- Support Link Section based on User Role -->
    <div class="footer__links-container">
      <% if current_user&.role == 'admin' %>
        <%= link_to "Support", "https://docs.google.com/document/d/1wG-3DUKUfp2ZWg6QTAvOXX2XeKY7lvBdlBG0FUY-F5s/edit?usp=sharing", class: 'footer__link' %>
      <% elsif current_user&.role == 'member' %>
        <%= link_to "Support", "https://docs.google.com/document/d/1gQT0v7MLKSHieD8TnyT--Efj2lDUkiPZmdskDXmbgAQ/edit?usp=sharing", class: 'footer__link' %>
      <% else %> <!-- Treats no login or 'user' role as basic user support -->
        <%= link_to "Support", "https://docs.google.com/document/d/1R7xL5DeF3ZRryWLvv5vE1w0lndaxuv7VLNWm2DyuDgk/edit?usp=sharing", class: 'footer__link' %>
      <% end %>
    </div>
  </div>

  <!-- Render Instagram Link if Exists -->
  <div class="footer__instagram-container">
    <%= link_to 'https://www.instagram.com/heattamu/?hl=en', target: '_blank' do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
        <path d="M16 11.37a4 4 0 1 1-7.94 1.94 4 4 0 0 1 7.94-1.94z"></path>
        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
      </svg>
    <% end %>
  </div>

  <!-- Copyright Section -->
  <div class='footer__copyright'>
    &copy; 2024 H.E.A.T. All rights reserved.
  </div>
</footer>
