<header class="navbar">
    <nav class="navbar__navigation" data-controller="navbar">
      <%= link_to root_path do %>
        <%= image_tag 'green-logo.jpg' , alt: 'heat logo', class: 'navbar__logo' %>
      <% end %>
      <div class="navbar__list" data-navbar-target="list">
        <% @nav_links.each do |link| %>
          <%= link_to link[:name], link[:path], class: 'navbar__link' %>
        <% end %>
        <%= button_to @auth_link[:name], @auth_link[:path], class: 'btn btn--tertiary navbar__list-auth', method: @auth_link[:method], data: {turbo: "false"} %>
      </div>
      <div>
          <!-- %= link_to @auth_link[:name], @auth_link[:path], method: @auth_link[:method] % -->
          <%= button_to @auth_link[:name], @auth_link[:path], method: @auth_link[:method], data: {turbo: "false"}, class: 'btn btn--tertiary navbar__profile' %>
      </div>
      <button class="navbar__toggle" data-action="navbar#toggle">
        ☰
      </button>
    </nav>
</header>
