<main class="container">
  <header class="header">
    <h1>Archived Events</h1>
  </header>

  <!-- Event Cards for Archived Events -->
  <div class="event__container">
    <% @archived_events.each do |event| %>
      <div class="event">
        <h3><%= link_to event.name, event_path(event) %></h3>
        <p><%= event.location %></p>
        <p><%= event.start_time.strftime("%B %d, %Y") %></p>
        <p>
          <% if event.start_time.strftime("%p") == event.end_time.strftime("%p") %>
            <%= event.start_time.strftime("%l:%M") %> - <%= event.end_time.strftime("%l:%M %p") %>
          <% else %>
            <%= event.start_time.strftime("%l:%M %p") %> - <%= event.end_time.strftime("%l:%M %p") %>
          <% end %>
        </p>

        <!-- Unarchive Button for Each Event -->
        <div class="event__links">
          <%= link_to 'Unarchive', unarchive_event_path(event), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn--tertiary' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back to All Events', events_path, class: 'btn btn--secondary' %>
</main>
