<main class="container">
  <header class="header">
    <h1>EVENTS</h1>
  </header>
  <% create_link = create_link_for(@role) %>
  <% if create_link.present? %>
    <%= link_to create_link[:name], create_link[:path], class: create_link[:class] %>
    <%= link_to 'View Archived Events', archived_events_path, class: 'btn btn--tertiary' %>
  <% end %>
  <br><br>
  <div class="events">
    <div class="calendar">
      <%= month_calendar events: @events do |date, events| %>
        <div class="day">
          <% if events.any? %>
            <%= link_to date.day, event_path(events.first), class: 'event-date' %>
          <% else %>
            <span class="no-event"><%= date.day %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="event__container">
      <% @events.each do |event| %>
        <div class="event">
          <h3><%= link_to event.name, event_path(event) %></h3>
          <p><%= event.location %></p>
          <p><%= event.start_time.strftime("%B %d, %Y") %></p>
          <p>
            <% if event.start_time.strftime("%p") == event.end_time.strftime("%p") %>
              <%= event.start_time.strftime("%l:%M") %> - <%= event.end_time.strftime("%l:%M %p") %>
            <% else %>
              <%= event.start_time.strftime("%l:%M %p") %> - <%= event.end_time.strftime("%l:%M %p") %>
            <% end %>
          </p>
          <% action_links = action_links_for(event, @role) %>
          <div class="event__links">
            <% action_links.each do |link| %>
              <%= link_to link[:name], link[:path], link.except(:name, :path) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
