<h1>Event Details</h1>

<p><strong>Event Name:</strong> <%= @event.name %></p>
<p><strong>Event Date:</strong> <%= @event.date.strftime("%B %d, %Y") %></p>

<%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary' %> |
<%= link_to 'Delete Event', delete_event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> |
<%= link_to 'Back to Events', events_path, class: 'btn btn-secondary' %>
<%= link_to 'Return to Home', root_path, class: 'btn btn-secondary' %>

