
<%= simple_form_for leaderboard_category, html: { class: "link form", data: { turbo: true, controller: 'leaderboard_category' }, multipart: true } do |form| %>
  <div class="table-row">
    <div class="table-cell">
      <%= form.input :category_name %>
    </div>
    <div class="table-cell">
      <%= form.input :min_points %>
    </div>
    <div class="table-cell">
      <%= form.color_field :color %>
    </div>
    <div class="table-cell actions">
      <%= button_tag(type: 'submit', class: 'table-button confirm') do %>
        <%= image_tag 'check-svgrepo-com.svg', class: 'table-button-svg', alt: 'Save link', width: '20', height: '40' %>
      <% end %>
      <%= link_to leaderboard_categories_path, class: 'table-button cancel' do %>
        <%= image_tag 'cancel-close-delete-svgrepo-com.svg', class: 'table-button-svg', alt: 'Back to links', width: '20', height: '40' %>
      <% end %>
    </div>
  </div>
<% end %>

