<%= turbo_frame_tag dom_id(leaderboard_category) do %>
  <%= simple_form_for leaderboard_category, html: { class: "link form", data: { turbo: false }, multipart: true } do |form| %>
    <% if leaderboard_category.errors.any? %>
      <%= form.error_notification %>
    <% end %>

    <div class="leaderboard_category__table-row">
      <div class="leaderboard_category__table-cell">
        <%= form.input :category_name %>
      </div>
      <div class="leaderboard_category__table-cell">
        <%= form.input :min_points %>
      </div>
      <div class="leaderboard_category__table-cell">
        <%= form.color_field :color %>
      </div>
      <div class="leaderboard_category__table-cell">
        <%= button_tag(type: 'submit', class: 'leaderboard_category__table-button confirm') do %>
          <%= image_tag 'check-svgrepo-com.svg', class: 'leaderboard_category__table-svg', alt: 'Save link', width: '40', height: '40' %>
        <% end %>
        <%= link_to leaderboard_categories_path, class: 'leaderboard_category__table-button cancel' do %>
          <%= image_tag 'cancel-close-delete-svgrepo-com.svg', class: 'leaderboard_category__table-svg', alt: 'Back to links', width: '40', height: '40' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
