<%= turbo_stream.replace "leaderboard_category_#{@leaderboard_category.id}" do %>
  <%= turbo_frame_tag "leaderboard_category_#{@leaderboard_category.id}" do %>
    <%= render partial: 'leaderboard_category', locals: { leaderboard_category: @leaderboard_category } %>
  <% end %>
<% end %>

<%= turbo_stream.replace "leaderboard" do %>
  <div class="page-layout__leaderboard" id="leaderboard">
    <%= render partial: 'leaderboard', locals: { users: @users } %>
  </div>
<% end %>
