<div class="gallery__item">
  <%= image_tag(
    photo.image_url.present? ? photo.image_url : 'placeholder.jpg',
    alt: photo.description || 'No description',
    class: 'gallery__image'
  ) %>
  <%= simple_form_for @photo, html: { class: "photo form gallery__content", multipart: true } do |form| %>
    <% if @photo.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
          <ul>
            <% @photo.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="">
        <%= form.input :title %>
      </div>
      <div class="">
        <%= form.input :description %>
      </div>
      <div class="gallery__item-file_field">
        <%= form.label :image, class: 'gallery__item-file_label' do %>
          <%= image_tag 'upload-icon.svg', alt: 'Upload Photo', class: 'upload-icon' %>
          <span>Select Photo</span>
          <%= form.file_field :image, class: 'file-input' %>
        <% end %>
      </div>
      <div class="gallery__content-links">
        <%= button_tag(type: 'submit', class: 'photo__table-button confirm') do %>
          <%= image_tag 'check-svgrepo-com.svg', class: 'photo__table-svg', alt: 'Save Photo', width: '40', height: '40' %>
        <% end %>
        <%= button_to photos_path, class: 'photo__table-button cancel' do %>
          <%= image_tag 'cancel-close-delete-svgrepo-com.svg', class: 'photo__table-svg', alt: 'Back to photos', width: '40', height: '40' %>
        <% end %>
      </div>
  <% end %>
</div>

