<div id="<%= dom_id photo %>">
  <p>
    <strong>Link:</strong>
    <%= photo.link %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= photo.created_by_id %>
  </p>

</div>
