<!DOCTYPE html>
<html>
  <head>
    <title>Cold501</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if controller_name == 'merchandises' %>
      <%= stylesheet_link_tag 'merchandise', media: 'all', 'data-turbo-track': 'reload' %>
    <% end %>

    <% if controller_name == 'ideas' %>
      <%= stylesheet_link_tag 'ideas', media: 'all', 'data-turbo-track': 'reload' %>
    <% end %>


    <%= javascript_importmap_tags %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
