<!DOCTYPE html>
<html>
  <head>
    <title>H.E.A.T.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Application Stylesheet -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

  <% if controller_name == 'merchandises' %>
    <%= stylesheet_link_tag 'merch', media: 'all', 'data-turbo-track': 'reload' %>
  <% end %>

  <% if controller_name == 'ideas' %>
    <%= stylesheet_link_tag 'ideas', media: 'all', 'data-turbo-track': 'reload' %>
  <% end %>


    <!-- Importmap for JavaScript -->
    <%= javascript_importmap_tags %>

    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <%= favicon_link_tag 'favicon.ico' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <div class="flash__container">
          <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
        </div>
      <% end -%>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
