<!DOCTYPE html>
<html>
  <head>
    <title>HEAT Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Application Stylesheet -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    

    <!-- Importmap for JavaScript -->
    <%= javascript_importmap_tags %>

    <!-- Controller-Specific Stylesheets -->
    <% if controller_name == 'merchandises' %>
      <%= stylesheet_link_tag 'merchandises', media: 'all', 'data-turbo-track': 'reload' %>
    <% end %>

    <% if controller_name == 'ideas' %>
      <%= stylesheet_link_tag 'ideas', media: 'all', 'data-turbo-track': 'reload' %>
    <% end %>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <div class="flash__container">
          <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
        </div>
      <% end -%>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
